<!-- Home Gallery -->
<amp-carousel width="800" height="300" layout="responsive" autoplay delay="5000" type="slides">
    {% for slide in site.home_slider %}
    <div class="Slide">
        <amp-img
                src="https://source.unsplash.com/{{ slide.unsplash_id }}/800x300"
                srcset="https://source.unsplash.com/{{ slide.unsplash_id }}/400x150 400w, https://source.unsplash.com/{{ slide.unsplash_id }}/800x300 800w, https://source.unsplash.com/{{ slide.unsplash_id }}/1600x600 1600w, https://source.unsplash.com/{{ slide.unsplash_id }}/3200x1200 3200w"
                width="800"
                height="300"
                layout="responsive"
                alt="{{ slide.name }}">
        </amp-img>
        <div class="Slide-overlay">
            {% for text in slide.texts %}
            <p><span class="text">{{ text }}</span></p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</amp-carousel>
<!-- / Home Gallery -->
