<!-- Home Gallery -->
<amp-carousel width="1000" height="500" layout="responsive" autoplay delay="3000" type="slides">
    <div class="Slide">
        <amp-img
            <amp-img
                src="https://source.unsplash.com/ySQF5oENkrw/800x400"
                srcset="https://source.unsplash.com/ySQF5oENkrw/400x200 400w, https://source.unsplash.com/ySQF5oENkrw/800x400 800w, https://source.unsplash.com/ySQF5oENkrw/1600x800 1600w, https://source.unsplash.com/ySQF5oENkrw/3200x1600 3200w"
                width="800"
                height="400"
                layout="responsive"
                alt="Accidents de ski">
        </amp-img>
        <div class="Slide-overlay">
            <p><span class="text">Skieurs et Snowboarders</span></p>
            <p><span class="text">Faites valoir vos droits à l'indemnisation en cas d'accident</span></p>
        </div>
    </div>
    <div class="Slide">
        <amp-img
                src="assets/slide2-1000x500.jpg"
                srcset="assets/slide2-1000x500.jpg 1000w, assets/slide2-500x250.jpg 500w, assets/slide2-2000x1000.jpg 2000w, assets/slide2-3000x1500.jpg 3000w"
                width="1000"
                height="500"
                layout="responsive"
                alt="Cabinet Moutot Noce, avocat de victime d'accidents corporels">
        </amp-img>
        <div class="Slide-overlay">
            <p><span class="text">Première consultation sans engagement</span></p>
            <p><span class="text">N'hésitez pas à nous consulter</span></p>
        </div>
    </div>
    <div class="Slide">
        <amp-img
                src="assets/slide3-1000x500.jpg"
                srcset="assets/slide3-1000x500.jpg 1000w, assets/slide3-500x250.jpg 500w, assets/slide3-2000x1000.jpg 2000w, assets/slide3-3000x1500.jpg 3000w"
                width="1000"
                height="500"
                layout="responsive"
                alt="Cabinet Moutot Noce, avocat de victime d'accidents corporels">
        </amp-img>
        <div class="Slide-overlay">
            <p><span class="text">Intervention dans tout la France</span></p>
        </div>
    </div>
</amp-carousel>
<!-- / Home Gallery -->
